.about {
    padding-block-end: var(--space-xs);
}
.experience h3 {
    margin-block-end: 0.5rem; /* Adds spacing between the heading and the table */
}

.experience img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

/* 4 column grid */

.story {
    border-top: 1px solid var(--color-border); /* change this to a variable later */
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter);
    padding-block-start: var(--space-flat-3xs);
    padding-block-end: var(--space-2xs-m);
}

@media (min-width: 800px) {
    .story {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1600px) {
    .story {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 2 col grid */

.experience {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter);
}

@media (min-width: 800px) {

    .experience {
        grid-template-columns: repeat(2, 1fr);
    }
}

