/* Misc */
.experience h3 {
    margin-block-end: 0.5rem;
}

.experience {
    margin-block-start: 8rem;
}

/* 4 column grid */

.story {
    border-top: 1px solid var(--color-border);
    padding-block-start: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 800px) {
    .story {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1600px) {
    .story {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 2 col grid */

.experience {
    padding-block-start: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 800px) {

    .experience {
        grid-template-columns: repeat(2, 1fr);
    }
}

