.footer {
    margin-block-start: 4rem;
}

.footer__information {
    border-top: 1px solid var(--color-border);
    padding-block-start: 1rem;
}

.footer__information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 900px) {
    .footer__information {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer__information {
        grid-template-columns: 1fr;
    }
}

.footer_note {
    padding-block-start: 4rem;
    padding-block-end: 1rem;
}