.footer {
    padding-block-end: var(--gutter);
}

.footer__information {
    border-top: 1px solid var(--color-border);
    padding-block-start: var(--space-flat-3xs);
    padding-block-end: var(--space-xs);
}

.footer__information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter);
}

@media (max-width: 900px) {
    .footer__information {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer__information {
        grid-template-columns: 1fr;
    }
}
