.introduction {
    margin-block-end: var(--region-space);
}

.introduction__heading {
    margin-block-end: 1rem;
    padding-block-start: clamp(7.5rem, 5.5769rem + 9.6154vw, 20rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 1900px) {
    .introduction__heading {
        grid-template-columns: 1fr 1fr;
    }
}


.introduction video {
    height: clamp(37.5rem, 31.7308rem + 28.8462vw, 75rem);  /* height of the reel */
    width: 100%;
    object-fit: cover;
}


/* Defining a Grid */

.introduction__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.introduction__tagline,
.introduction__capabilities {
    grid-column: 1;
    margin-block-start: 1rem;
}

@media (min-width: 769px) {
    .introduction__grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .introduction__tagline {
        grid-column: 1;
    }
    
    .introduction__capabilities {
        grid-column: 2;
    }
}

@media (min-width: 1441px) {
    .introduction__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .introduction__tagline {
        grid-column: 1;
    }
    
    .introduction__capabilities {
        grid-column: 3;
    }
}