/* .introduction {
    margin-block-end: var(--region-space);
} */

.introduction__heading {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter);

    margin-block-end: var(--space-flat-3xs);
}

@media (min-width: 1900px) {
    .introduction__heading {
        grid-template-columns: 1fr 1fr;
    }
}


.introduction video {
    height: var(--space-3xl);  /* height of the reel */
    width: 100%;
    object-fit: cover;
}


/* Defining a Grid */

.introduction__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gutter);
}

.introduction__tagline,
.introduction__capabilities {
    grid-column: 1;
    margin-block-start: var(--space-flat-3xs);
}

@media (min-width: 769px) {
    .introduction__grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .introduction__tagline {
        grid-column: 1;
    }
    
    .introduction__capabilities {
        grid-column: 2;
    }
}

@media (min-width: 1441px) {
    .introduction__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .introduction__tagline {
        grid-column: 1;
    }
    
    .introduction__capabilities {
        grid-column: 3;
    }
}