/* Adds consistent vertical padding with flush options to remove spacing */

.region {
    padding-block-end:var(--region-space);
    padding-block-start: var(--region-space);
}

.region+.region {
    padding-block-start: 0;
}
