/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1rem; /* don't forget to fix this with variables */
  line-height: 1.2;  /* don't forget to fix this with variables */
  letter-spacing: var(--font-letter-spacing-normal);
  margin: 0;
}

:is(h1,h2,h3,h4) {
  text-wrap: balance;
  margin: 0;
}

h1 {
  font-size: var(--font-size-800);
  line-height: 1;  /* don't forget to fix this with variables */
  letter-spacing: var(--font-letter-spacing-tight);
  font-weight: var(--font-weight-medium);
}

h2 {
  font-size: var(--font-size-700);
  line-height: 1;  /* don't forget to fix this with variables */
  letter-spacing: var(--font-letter-spacing-tight);
  font-weight: var(--font-weight-medium);

}

h3 {
  font-size: var(--font-size-200);
  line-height: 1.2;  /* don't forget to fix this with variables */
  letter-spacing: var(--font-letter-spacing-normal);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-subdued);
}

h3 + * {
  margin-top: 0;
}

/* ul,
ol {
  padding-inline-start: 1em;
  list-style-type: none;
} */

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

:is(img,picture) {
    display: block;
    height: auto;
    max-width: 100%
}

img {
    width: 100%;
    border-radius: var(--border-radius);
}

figure {
  margin-block-start: inherit;
  margin-inline: 0;
}


figcaption {
  padding-block-start: 1rem;
 }


table {
  border-collapse: collapse;
  width: 100%;
}


td {
  padding: 0.5em 0;
}

tr {
  border-block-start: 1px solid var(--color-border);
  border-block-end: 1px solid var(--color-border);
}

tr:last-child {
  border-block-end: none;
}

hr {
    border: none;
    border-block-start: 1px solid var(--color-border); /*change to a variable later*/
    margin-block-end: 16px; /* change units to variable later */
}