:root {

/* Global */
--color-neutral-900: #262626;
--color-neutral-400: #767676;
--color-neutral-300: #919191;
--color-neutral-200: #B9B9B9;
--color-white: #ffffff;

/* Color */
--color-bg: var(--color-white);
--color-text: var(--color-neutral-900);
--color-text-subdued: var(--color-neutral-300);
--color-border: var(--color-neutral-200);

/* Font */
--font-family: Inter, system-ui, sans-serif;
--font-letter-spacing-normal: -0.02ch;
--font-letter-spacing-tight: -0.07ch;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-size-200: var(--size--3);
--font-size-700: var(--size--1);
--font-size-800: var(--size-0);
--leading: 1.3;
--leading-flat: 1;


/* Borders */
--border-radius: 1rem;

/* Spacing */
--wrapper-max-width: 2560px;
--gutter: clamp(1rem, -0.4118rem + 2.9412vw, 1.5rem);
--flow-space: 1rem;
--region-space: clamp(18.75rem, 1.1029rem + 36.7647vw, 25rem); /* fix this */


/* Fluid type scale */
--size--3: clamp(1rem, 1rem + 0vw, 1rem); /* 16 - 16 */
--size--2: clamp(1.25rem, 1.0962rem + 0.7692vw, 2.25rem); /* 20 - 36 */
--size--1: clamp(2rem, 1.8846rem + 0.5769vw, 2.75rem); /* 32 - 44 */
--size-0: clamp(2.5rem, 2.3462rem + 0.7692vw, 3.5rem); /* 40 - 56 */
--size-1: clamp(3rem, 2.8462rem + 0.7692vw, 4rem); /* 48 - 64 */
--size-2: clamp(3.5rem, 3.1923rem + 1.5385vw, 5.5rem); /* 56 - 88 */
--size-3: clamp(4rem, 3.5385rem + 2.3077vw, 7rem); /* 64 - 112 */
}