<header class="header">
    <div class="wrapper">
        <div class="header__container">
            <div>
                <h3>Portfolio</h3>
                <p>Aleksandr Anciutin</p>   
            </div>
            <div>
                <h3>Availability</h3>
                <p>Booking engagements for Summer, 2025</p>   
            </div>
            <div>
                <h3>Contact</h3>
                <p><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
            </div>
        </div>
    </div>
</header>
