<header class="header">
    <div class="wrapper">
        <div class="header__container">
            <div>
                <h3>Work</h3>
                <p>by {{ site.author.name }}</p>   
            </div>
            <div>
                <h3>Availability</h3>
                <p>{{ status.availability }}</p>   
            </div>
            <div>
                <h3>Contact</h3>
                <p><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
            </div>
        </div>
    </div>
</header>
