<article class="introduction">
    <div class="wrapper">
        <h1>{{ introduction.title }}</h1>
        <video autoplay crossorigin muted playsinline loop>
            <source
                src="{{ introduction.videoVertical }}"
                type="video/webm; codecs=av01"
                media="(max-width: 600px)"
            />
            <source
                src="{{ introduction.videoHorizontal }}"
                type="video/webm; codecs=av01"
            />
            <source
                src="{{ introduction.videoVerticalFallback }}"
                type="video/mp4"
                media="(max-width: 769px)"
            />
            <source
                src="{{ introduction.videoHorizontalFallback }}"
                type="video/mp4"
            />
        </video>
        <div class="introduction__grid" data-layout="thirds">
            <p class="introduction__tagline">{{ introduction.tagline }}</p>
            <ul class="introduction__capabilities">
                {% for item in capabilities %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
