<article class="introduction">
    <div class="wrapper">
        <a href="/">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 120" width="130" height="120" fill="none" focusable="false" role="img">
                <path fill="#242424" d="m32.836 72.125-23.336-16 23.336 6.5-2-28 10-19 16.5-14-9.5 16.5 16-11-4.5 12 17-12.5-12 19.5 15.5-13-12 21.5v21.5l5.5-12 13.5-9.5-5.5 11.5 13.5-5-12.5 12.5 13.5-1-9.5 9 9.5-2-14.5 25L120.5 95.107l-21 6.081 3.5 17.187L73.336 93.5l-29.852-8.875-10.648-12.5Z"/>
            </svg>
        </a>
        <h1>{{ introduction.title }}</h1>
        <video autoplay crossorigin poster muted playsinline loop>
            <source
                src="{{ introduction.video }}"
                type="video/mp4">
        </video>
        <div class="introduction__grid" data-layout="thirds">
            <p class="introduction__tagline">{{ introduction.tagline }}</p>
            <ul class="introduction__capabilities">
                {% for item in capabilities %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>
